/*-- scss:defaults --*/

// Import Lato font for consistency with dark theme
$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

$link-color: #00009E;
$text-muted: #6a737b;

$btn-code-copy-color: #181818;
$btn-code-copy-color-active: #0000E0;

$code-block-border-left: false;
$code-block-bg: #F0F0F0;

/*-- scss:rules --*/

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: .875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}
